
body 

{
    background-image: url('../img/maxresdefault.jpg');
}

.modal-content 

{
    width : 300px;
    height:auto;
    margin-top:150px;
    background:rgba(79,79,79,0.4);
    margin-left:10px;
    border-radius: 5px;
    text-align:center;
    font-family:"Arial Black", Gadget, sans-serif;
}

#btn_login{
     
   background-color:grey;

   border:0px;

}
